.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.row-1 {
  grid-row: span 1;
}

.row-2 {
  grid-row: span 2;
}

.row-3 {
  grid-row: span 3;
}

.row-4 {
  grid-row: span 4;
}

.row-5 {
  grid-row: span 5;
}

.row-6 {
  grid-row: span 6;
}

.row-7 {
  grid-row: span 7;
}

.row-8 {
  grid-row: span 8;
}

.row-9 {
  grid-row: span 9;
}

.row-10 {
  grid-row: span 10;
}

.row-11 {
  grid-row: span 11;
}

.row-12 {
  grid-row: span 12;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-15rem {
  margin-right: 1.5rem;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-144 {
  margin-left: 144px;
}

.m-0 {
  margin: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.text-white {
  color: #fff;
}

.btn-white {
  background-color: #fff;
}

.text-light-grey {
  color: #e0e0e0;
}

.btn-light-grey {
  background-color: #e0e0e0;
}

.text-grey {
  color: #cacaca;
}

.btn-grey {
  background-color: #cacaca;
}

.text-dark-grey {
  color: #3c3b3d;
}

.btn-dark-grey {
  background-color: #3c3b3d;
}

.text-black {
  color: #08020d;
}

.btn-black {
  background-color: #08020d;
}

.text-green {
  color: #34c176;
}

.btn-green {
  background-color: #34c176;
}

.text-orange {
  color: #f89202;
}

.btn-orange {
  background-color: #f89202;
}

.text-red {
  color: #95390c;
}

.btn-red {
  background-color: #95390c;
}

.text-purple {
  color: #5328a1;
}

.btn-purple {
  background-color: #5328a1;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
.body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #cacaca;
  font-family: Roboto, sans-serif;
}

.h1 {
  width: 100%;
  font-size: 3.75em;
  line-height: 1.5em;
  font-weight: 700;
}

.h2 {
  width: 100%;
  font-size: 2.375em;
  line-height: 1.5em;
  font-weight: 700;
}

.h3 {
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
}

.p {
  width: 100%;
  text-align: center;
}

.bg-black {
  background-color: #08020d;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
  background-position: initial;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
  background-position: initial;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
  background-position: initial;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.page-link {
  color: #cacaca;
}

.page-link:visited {
  color: #cacaca;
}

.current-page-link {
  color: #fff;
}

.noborder {
  border: none;
}

.inverted {
  filter: invert(100%);
}

.row-gap-25 {
  grid-row-gap: 25px;
}

.column-gap-40 {
  grid-column-gap: 40px;
}

.column-gap-50 {
  grid-column-gap: 50px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-09375 {
  font-size: 0.9375em;
}

@media (max-width: 1200px) {
  .mt-3-mobile {
    margin-top: 3px;
  }
  .mt-16-mobile {
    margin-top: 16px;
  }
  .mt-24-mobile {
    margin-top: 24px;
  }
  .mt-m8-mobile {
    margin-top: -8px;
  }
  .mt-m10-mobile {
    margin-top: -10px;
  }
  .mt-45-mobile {
    margin-top: 45px;
  }
  .mb-16-mobile {
    margin-bottom: 16px;
  }
  .mb-24-mobile {
    margin-bottom: 24px;
  }
  .mt-48-mobile {
    margin-bottom: 48px;
  }
  .pt-45-mobile {
    padding-top: 45px;
  }
  .h1 {
    font-size: 1.875em;
  }
  .h2 {
    font-size: 1.125em;
  }
  .fs-1-mobile {
    font-size: 1em;
  }
}
.logo-wrapper {
  font-size: 0.6875em;
  align-items: center;
  display: flex;
}

.nav-bar {
  margin-right: 0;
  margin-left: 90px;
  padding-right: 0;
  padding-left: 0;
  font-size: 0.6875em;
}

.nav-bar-el {
  margin-right: 22px;
  margin-left: 0;
  display: inline;
}

.nav-bar-link {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.btn-download {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  border: none;
  text-transform: none;
  border-radius: 32px;
  width: 130px;
  font-size: 0.75em;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.pricing-items-wrapper {
  display: flex;
  justify-content: center;
}

.pricing-item-title {
  margin-top: 20px;
  margin-bottom: 200px;
  font-weight: 400;
}

.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  flex-basis: 370px;
  height: 610px;
  color: #fff;
  border-radius: 1rem;
}

.pricing-value {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 4em;
  line-height: 1em;
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 0.8em;
  line-height: 1.5em;
}

.currency {
  padding-right: 0;
  padding-left: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 0.5em;
}

.news-item {
  display: flex;
  width: 100%;
}
.news-item .news-wrapper {
  margin-right: 0;
  margin-left: 50px;
}

.news-item-header {
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
  font-size: 1.875em;
}

.news-item-reversed {
  flex-direction: row-reverse;
}
.news-item-reversed .news-wrapper {
  margin-right: 60px;
  margin-left: 0;
}

.news-author {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.btn-to-album {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 135px;
  font-size: 0.75em;
  color: #cacaca;
}

.app-info-wrapper {
  display: flex;
}

.app-info-body {
  flex-basis: 600px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-12-rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.links-wrapper {
  display: flex;
}

.img-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-button-wrapper {
  display: flex;
}

.artist-btn {
  width: 200px;
  display: flex;
  border: none;
  align-items: center;
  font-size: 0.8em;
}

.tracks-wrapper {
  width: 100%;
}

.track {
  display: flex;
  box-sizing: border-box;
  padding-right: 46px;
  align-items: center;
  font-size: 0.8em;
}

.track-name {
  color: #fff;
  font-size: inherit;
  text-transform: uppercase;
}

.track-author {
  font-size: inherit;
  text-align: left;
}

.track-duration {
  margin-right: 0;
  margin-left: auto;
  font-size: inherit;
  text-align: right;
  width: fit-content;
}

.album-title {
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.similar-item-title {
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.album-img,
.similar-img {
  margin-bottom: 10px;
}

.artists-wrapper {
  align-self: flex-start;
}

.track-info {
  margin-right: 0;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.access-form {
  margin-top: 17px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 47.5%;
}

.access-input-wrapper {
  display: flex;
  justify-content: center;
}

.access-input {
  padding-right: 0;
  padding-left: 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.875em;
  flex-basis: 273px;
  flex-shrink: 0;
  height: 50px;
  outline: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}
.access-input::placeholder {
  color: #fff;
}

.container-artist {
  margin-top: 50px;
  margin-bottom: 24px;
  align-items: flex-start;
}

.footer {
  margin-top: 100px;
  margin-bottom: 0;
  padding-top: 62px;
  padding-bottom: 48px;
}

.footer-h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: inherit;
  color: #fff;
}

.footer-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-inline-start: 0;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
  color: #cacaca;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  top: 18px;
  width: 100%;
  max-width: 1200px;
}

.search-form {
  margin-right: 0;
  margin-left: auto;
  flex-basis: 248px;
}

.search-input {
  padding-right: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  background-color: #3c3b3d;
  color: inherit;
  border-radius: 50px;
}
.search-input::placeholder {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
  }
  .search-form {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .search-input {
    margin-right: 0;
    margin-left: 0;
    margin-top: 17px;
    margin-bottom: 0;
    width: 100%;
  }
  .footer {
    padding-top: 62px;
    padding-bottom: 32px;
  }
  .nav-bar {
    margin-right: 0;
    margin-left: 0;
    margin-top: 7px;
    margin-bottom: 0;
  }
  .nav-bar-el {
    display: block;
  }
  .container {
    box-sizing: border-box;
  }
  .access-form {
    width: 100%;
  }
  .access-input-wrapper {
    flex-direction: column;
  }
  .access-input {
    margin-right: 0;
    margin-left: 0;
    flex-basis: 50px;
  }
  .pricing-item-title {
    margin-top: 12px;
    margin-bottom: 203px;
    font-size: 1em;
  }
  .pricing-items-wrapper {
    flex-direction: column;
  }
  .pricing-item {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .news-item {
    flex-direction: column;
    font-size: 1em;
  }
  .news-item .news-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .news-image {
    width: 374px;
    height: 186px;
  }
  .news-item-header {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: inherit;
  }
  .news-footer {
    font-size: 1em;
  }
  .news-author {
    margin-bottom: 48px;
    font-size: 0.8em;
  }
  .app-info-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .app-info-body {
    padding-right: 0;
    padding-left: 0;
    flex-basis: auto;
  }
  .app-image {
    margin: 0;
    width: 337px;
    height: 278px;
  }
  .links-table {
    display: flex;
    flex-direction: column;
  }
  .links-table .col-3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .links-bottom {
    display: flex;
    flex-direction: column;
  }
  .artist-button-wrapper {
    flex-direction: column;
  }
  .container-artist {
    margin-right: 0;
    margin-left: 0;
    margin-top: -20px;
    margin-bottom: 24px;
  }
  .tracks-wrapper {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
  }
  .tracks-wrapper .track {
    padding-right: 0;
    margin-top: 0;
  }
  .tracks-wrapper .track:not(:last-child) {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .albums-wrapper,
.artists-wrapper {
    width: 100%;
    grid-template-rows: none;
    grid-column-gap: 0;
  }
  .album {
    grid-column: span 6;
    width: 137px;
  }
  .similar-item {
    grid-column: span 6;
    width: 137px;
  }
  .album-img,
.similar-img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
