.margin-top-4 {
  margin-top: 4px;
}

.margin-right-4 {
  margin-right: 4px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-left-4 {
  margin-left: 4px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-right-16 {
  margin-right: 16px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-right-24 {
  margin-right: 24px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-left-24 {
  margin-left: 24px;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #cacaca;
}

.text-black {
  color: #08020d;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  font-family: Roboto, sans-serif;
}

h1 {
  margin: 0;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 25px;
  width: 100%;
}
header img {
  margin-right: 16px;
  margin-left: 119px;
}
header span {
  text-transform: uppercase;
}
header input {
  margin-right: 121px;
  margin-left: auto;
  padding-right: 0;
  padding-left: 10px;
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  outline: none;
  border: none;
  background-color: #3C3B3D;
  color: inherit;
  border-radius: 50px;
}
header input::placeholder {
  text-transform: uppercase;
}
header .logo-wrapper {
  display: flex;
}
header .nav-bar {
  margin-right: 0;
  margin-left: 90px;
}
header .nav-bar li {
  display: inline;
}
header .nav-bar li a {
  margin-right: 24px;
  margin-left: 0;
  text-transform: uppercase;
}
header .active {
  color: #ffffff;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  header {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  header img {
    margin-right: 16px;
    margin-left: 0;
  }
  header input {
    margin-right: 0;
    margin-left: 0;
    margin-top: 17px;
    margin-bottom: 0;
    width: 100%;
  }
  header .nav-bar {
    margin-right: 0;
    margin-left: 0;
    margin-top: 17px;
    margin-bottom: 0;
  }
  header .nav-bar li {
    display: block;
  }
}
.bg-black {
  background-color: #08020d;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.btn {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #cacaca;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.btn-green {
  background-color: #34C176;
  border: none;
}

.container {
  padding-right: 120px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-banner:before {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  content: "";
}

.pricing-items-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pricing-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  flex-basis: 370px;
  height: 615px;
  color: white;
  border-radius: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.pricing-item h3 {
  margin-top: 24px;
  margin-bottom: 200px;
}
.pricing-item .pricing-value {
  padding-right: 64px;
  padding-left: 0;
  position: relative;
  font-size: 64px;
  line-height: 1em;
}
.pricing-item .pricing-value .currency {
  padding-right: 0;
  padding-left: 16px;
  bottom: 12px;
  position: absolute;
  text-transform: uppercase;
  font-size: 32px;
}
.pricing-item .pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 13px;
  line-height: 150%;
}

.page-pricing-info {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 17px;
  color: #ffffff;
}

#page-description {
  margin-top: 200px;
  margin-bottom: 200px;
  color: #ffffff;
}
#page-description form {
  margin-top: 17px;
  margin-bottom: 0;
  max-width: 570px;
}
#page-description form input {
  padding-right: 0;
  padding-left: 20px;
  box-sizing: border-box;
  color: #ffffff;
  min-width: 270px;
  min-height: 50px;
  outline: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}
#page-description form input::placeholder {
  color: #ffffff;
}
#page-description form button {
  width: 100%;
  border-radius: 5px;
}
#page-description p {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
}

#page-pricing .container {
  padding-top: 100px;
  padding-bottom: 0;
}
#page-pricing h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
#page-pricing a {
  margin-top: 40px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  #page-description {
    margin-top: 75px;
    margin-bottom: 200px;
  }
  #page-description form input {
    width: 100%;
  }
  #page-description p {
    margin-top: 16px;
    margin-bottom: 0;
  }
  #email {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .pricing-items-wrapper {
    flex-direction: column;
  }
  .pricing-item {
    margin-bottom: 30px;
  }
  .page-pricing-info {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
