@mixin bg-image($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
}

.bg-black {
  background-color: map-get($colors, black);
}

.bg-free {
  @include bg-image("../images/subscribe_1.png");
}

.bg-standart {
  @include bg-image("../images/subscribe_2.png");
}

.bg-premium {
  @include bg-image("../images/subscribe_3.png");
}

.btn {
  @include padding-x(30px, 30px);
  @include padding-y(20px, 20px);
  display: block;
  box-sizing: border-box;
  border: 1px solid map-get($colors, grey);
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: map-get($colors, white);
  text-decoration: none;
}

.btn-get-access {
  border: none;
}

.btn-download {
  border: none;
  text-transform: none;
  border-radius: 32px;
  width: 130px;
  font-size: 0.75em;
}

.btn-mix {
  @include margin-x(1.5rem, 0);
  display: flex;
  border: none;

  & img {
    filter: invert(100%);
  }
}

.container {
  @include padding-x(20px, 20px);
  width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Использовал данные классы для того, чтобы добавлять фоновые изображения
Но тесты я смог пройти, лишь делая фон чёрным.

.bg-banner {
  &:before {
    position: absolute;
    top: 0;

    z-index: 0;
    width: 100%;
    height: 100%;

    @include bg-image("../images/banner.png");
    content: "";
  }
}

.bg-artist {
  &:before {
    position: absolute;
    top: 0;

    z-index: -1;

    width: 100%;
    height: 100%;

    @include bg-image("../images/Morten Harket.png");
    content: "";
  }
 } */

.pricing-items-wrapper {
  display: flex;
  justify-content: center;
}

.pricing-item-title {
  @include margin-y(20px, 200px);
  font-weight: 400;
}

.pricing-item {
  @include padding-x(1.5rem, 1.5rem);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  flex-basis: 370px;
  height: 610px;
  color: map-get($colors, $key: white);
  border-radius: 1rem;
}

.pricing-item-btn {
  font-size: 1em;
}

.pricing-value {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 4em;
  line-height: 1em;
}

.pricing-footer {
  @include margin-y(64px, 64px);
  font-size: 0.8em;
  line-height: 150%;
}

.currency {
  @include padding-x(0, 16px);
  line-height: 40px;
  text-transform: uppercase;
  font-size: 0.5em;
}

.page-pricing-info {
  @include margin-y(40px, 0);
  font-size: 1em;
  text-align: center;
  margin-bottom: 17px;
  color: map-get($colors, white);
}

.news-item {
  display: flex;
  width: 100%;

  & .news-wrapper {
    @include margin-x(0, 50px);
  }
}

.news-item-header {
  @include margin-y(0, 30px);
  text-transform: none;
  text-align: left;
  color: map-get($colors, white);
  font-size: 1.875em;
}

.news-item-info {
  @include margin-y(0, 24px);
  font-size: 1em;
  text-align: left;
}

.news-item-reversed {
  flex-direction: row-reverse;

  & .news-wrapper {
    @include margin-x(60px, 0);
  }
}

.news-author {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.news-footer {
  & .btn {
    @include padding-y(16px, 16px);
    width: 135px;
    font-size: 0.75em;
    color: map-get($colors, grey);
  }
}

.brand-name {
  color: map-get($colors, orange);
  text-transform: uppercase;
}

.app-info-wrapper {
  width: 100%;
  display: flex;

  & .app-info-body {
    @include padding-y(16px, 0);
    width: 600px;
  }

  & p {
    font-size: 1em;
    line-height: 24px;
    text-align: left;
  }

  & img {
    @include margin-x(0, 144px);
  }

  & .btn {
    @include margin-y(16px, 0);
    @include padding-y(16px, 16px);
    @include padding-x(40px, 40px);
    font-size: 0.8em;
  }
}

.horizontal-break {
  @include margin-y(70px, 0);
  color: map-get($colors, grey);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-12-rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.row-gap-25 {
  grid-row-gap: 25px;
}

.column-gap-40 {
  grid-column-gap: 40px;
}

.column-gap-50 {
  grid-column-gap: 50px;
}

.links-table {
  @include padding-x(120px, 120px);
}

.links-wrapper {
  display: flex;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.links-bottom {
  @include margin-y(40px, 0);
  @include padding-x(120px, 120px);
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.albums-wrapper {
  align-self: flex-start;
}

.artist-button-wrapper {
  @include margin-y(48px, 0);
  display: flex;

  & .btn {
    @include padding-x(30px, 30px);
    @include padding-y(20px, 20px);
    width: 200px;
    display: flex;
    border: none;
    align-items: center;
    font-size: 0.8em;

    & img {
      filter: invert(100%);
    }
  }

  & p {
    margin-top: 0;
    font-size: 0.8em;
    text-align: left;
  }
}

.tracks-wrapper {
  width: 100%;
}

.track-duration {
  @include margin-x(0, auto);
}

.track {
  display: flex;
  box-sizing: border-box;
  padding-right: 50px;
  align-items: center;
  font-size: 0.8em;

  & h3 {
    color: map-get($colors, white);
    font-size: inherit;
    line-height: 19.2px;
    font-weight: 700px;
    text-transform: uppercase;
    text-align: left;
  }

  & .track-author {
    font-size: inherit;
    text-align: left;
  }

  & .track-duration {
    font-size: inherit;
    text-align: right;
    width: fit-content;
  }
}

.album,
.similar-item {
  & h3 {
    font-size: 1.125em;
    line-height: 27px;
    font-weight: 700px;
    color: map-get($colors, white);
    text-transform: capitalize;
    text-align: left;
  }

  & .sub-info {
    font-size: 1em;
  }
}

.album {
  & p {
    text-align: left;
  }
}

.album-info,
.similar-info {
  margin-top: 10px;
}

.similar-item {
  & p {
    text-align: center;
  }
}

.artists-wrapper {
  align-self: flex-start;

  & h3 {
    text-align: center;
  }

  & .similar-info {
    display: flex;
    flex-direction: column;
  }
}

.track-info {
  @include margin-x(0, 16px);
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.get-access-info {
  margin-top: 30px;
}

.get-access-form {
  @include margin-y(17px, 0);
  display: flex;
  flex-direction: column;
  width: 570px;
}

.access-inputs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.access-input {
  @include padding-x(0, 20px);
  box-sizing: border-box;
  color: map-get($colors, white);

  font-size: 0.875em;

  flex-basis: 273px;
  flex-shrink: 0;
  height: 50px;

  outline: none;
  border: 2px solid map-get($colors, grey);
  border-radius: 3px;
  background: none;

  &::placeholder {
    color: map-get($colors, white);
  }
}

#page-description {
  color: map-get($colors, white);
  font-size: 1em;

  & .container-artist {
    margin-top: 50px;
    align-items: flex-start;
    margin-left: 100px;
    width: 1100px;

    & h1 {
      text-align: left;
    }

    & p {
      margin-top: 16px;
      text-align: left;
    }
  }

  & .artist-button-wrapper {
    & p {
      margin-top: 0;
      font-size: 0.8em;
      text-align: left;
    }
  }
}

#page-pricing,
#page-news,
#page-popular-track,
#page-discography,
#page-similar {
  @include padding-y(100px, 0);

  & h2 {
    @include margin-y(0, 50px);
  }

  & a {
    @include margin-y(40px, 0);
  }
}

#page-app {
  @include padding-y(100px, 0);

  & .container {
    @include padding-y(100px, 100px);
  }

  & h2 {
    @include margin-y(0, 48px);
  }
}

#page-news {
  & h3 {
    font-weight: 400;
    text-transform: capitalize;
  }
}

#page-popular-track,
#page-discography {
  & h2 {
    color: map-get($colors, white);
  }
}

#page-popular-track {
  & h2 {
    margin-bottom: 30px;
  }
}

#page-similar {
  & h2 {
    color: map-get($colors, white);
  }
}

@media (max-width: 1200px) {
  header {
    @include padding-x(20px, 20px);
  }

  .container {
    width: 100%;
    box-sizing: border-box;
  }

  .get-access-info {
    margin-top: 16px;
  }

  .get-access-form {
    width: 100%;
  }

  .access-inputs-wrapper {
    flex-direction: column;
  }

  .access-input {
    @include margin-x(0, 0);
    flex-basis: 50px;
  }

  .pricing-item-title {
    @include margin-y(10px, 205px);
    font-size: 1em;
  }

  .pricing-items-wrapper {
    flex-direction: column;
  }

  .pricing-item {
    @include margin-x(0, 0);
    margin-bottom: 50px;
  }

  .page-pricing-info {
    @include margin-y(-10px, 0);
    font-size: 1em;
  }

  .news-item {
    flex-direction: column;
    font-size: 1em;

    & .news-wrapper {
      @include margin-x(0, 0);
    }
  }

  .news-image {
    height: 186px;
  }

  .news-item-header {
    @include margin-y(50px, 16px);
    font-size: inherit;
  }

  .news-footer {
    font-size: 1em;
  }

  .news-author {
    @include margin-y(0, 48px);
    font-size: 0.8em;
  }

  .mmt-8 {
    @include margin-y(-8px, 0);
  }

  .app-info-wrapper {
    flex-direction: column-reverse;
    align-items: center;

    & .app-info-body {
      @include padding-x(0, 0);
      width: 100%;
    }

    & img {
      @include margin-x(0, 0);
      width: 337px;
      height: 278px;
    }

    & p {
      margin-bottom: 0;
    }
  }

  .links-table {
    @include padding-x(20px, 20px);
    display: flex;
    flex-direction: column;

    & .col-3 {
      @include margin-y(30px, 0);
    }

    & div:first-child {
      margin-top: 0;
    }
  }

  .links-bottom {
    @include padding-x(20px, 20px);
    display: flex;
    flex-direction: column;

    & a {
      @include margin-x(0, 0);
      justify-content: left;
      width: 96%;
    }

    & a:not(:first-child) {
      @include margin-y(16px, 0);
    }
  }

  .horizontal-break {
    @include margin-y(74px, 0);
  }

  .artist-button-wrapper {
    flex-direction: column;
  }

  .btn-favourites {
    @include margin-y(24px, 0);
  }

  .tracks-wrapper {
    display: flex;
    flex-direction: column;

    > div:not(:first-child) {
      @include margin-y(25px, 0);
    }

    & .track {
      @include padding-x(0, 0);
    }
  }

  .albums-wrapper,
  .artists-wrapper {
    width: 100%;
    grid-template-rows: none;
    grid-column-gap: 0;

    & .album {
      grid-column: span 6;
      width: 137px;
    }

    & .similar-item {
      grid-column: span 6;
      width: 137px;
    }

    & img {
      width: 137px;
      height: 137px;
    }
  }

  #page-app {
    & a {
      margin-top: 16px;
    }
  }

  #page-popular-track {
    & h2 {
      margin-bottom: 48px;
    }
  }

  #page-description {
    & .container {
      @include padding-y(45px, 0);
    }

    & .container-artist {
      @include margin-x(0, 0);
      @include margin-y(-20px, 24px);
      width: 100%;
    }
  }

  #email {
    @include margin-y(24px, 0);
  }
}
