.logo-wrapper {
  font-size: 0.6875em;
  align-items: center;
  display: flex;
}

.nav-bar {
  @include margin-x(0, 90px);
  @include padding-x(0, 0);
  font-size: 0.6875em;
}

.nav-bar-el {
  @include margin-x(22px, 0);
  display: inline;
}

.nav-bar-link {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  @include padding-x(30px, 30px);
  @include padding-y(20px, 20px);
  display: block;
  box-sizing: border-box;
  border: 1px solid map-get($colors, grey);
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: map-get($colors, white);
  text-decoration: none;
}

.btn-download {
  @include margin-y(16px, 0);
  @include padding-y(16px, 16px);
  @include padding-x(40px, 40px);
  border: none;
  text-transform: none;
  border-radius: 32px;
  width: 130px;
  font-size: 0.75em;
}

.btn-mix {
  @include margin-x(1.5rem, 0);
  display: flex;
  border: none;
}

.container {
  @include padding-x(20px, 20px);
  width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-items-wrapper {
  display: flex;
  justify-content: center;
}

.pricing-item-title {
  @include margin-y(20px, 200px);
  font-weight: 400;
}

.pricing-item {
  @include padding-x(1.5rem, 1.5rem);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  flex-basis: 370px;
  height: 610px;
  color: map-get($colors, $key: white);
  border-radius: 1rem;
}

.pricing-item-btn {
  margin-top: 40px;
  font-size: 1em;
}

.pricing-value {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 4em;
  line-height: 1em;
}

.pricing-footer {
  @include margin-y(64px, 64px);
  font-size: 0.8em;
  line-height: 1.5em;
}

.currency {
  @include padding-x(0, 16px);
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 0.5em;
}

.page-pricing-info {
  font-size: 1em;
  text-align: center;
  color: map-get($colors, white);
}

.news-item {
  display: flex;
  width: 100%;

  & .news-wrapper {
    @include margin-x(0, 50px);
  }
}

.news-item-header {
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  color: map-get($colors, white);
  font-size: 1.875em;
}

.news-item-info {
  @include margin-y(0, 24px);
  font-size: 1em;
  text-align: left;
}

.news-item-reversed {
  flex-direction: row-reverse;

  & .news-wrapper {
    @include margin-x(60px, 0);
  }
}

.news-author {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.to-album-btn {
  @include padding-y(16px, 16px);
  width: 135px;
  font-size: 0.75em;
  color: map-get($colors, grey);
}

.app-info-wrapper {
  width: 100%;
  display: flex;

  & .app-info-body {
    flex-basis: 600px;
  }
}

.horizontal-break {
  @include margin-y(70px, 0);
  color: map-get($colors, grey);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-12-rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.links-table {
  @include padding-x(120px, 120px);
}

.links-wrapper {
  display: flex;
}

.links-bottom {
  @include margin-y(40px, 0);
  @include padding-x(120px, 120px);
}

.img-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  font-size: 1.0625em;
}

.address {
  text-align: left;
  font-size: 0.9375em;
}

.footer-link {
  text-decoration: none;
  color: map-get($colors, grey);
}

.albums-wrapper {
  align-self: flex-start;
}

.artist-button-wrapper {
  @include margin-y(48px, 0);
  display: flex;

  & .btn {
    width: 200px;
    display: flex;
    border: none;
    align-items: center;
    font-size: 0.8em;
  }
}

.tracks-wrapper {
  width: 100%;
}

.track {
  display: flex;
  box-sizing: border-box;
  padding-right: 46px;
  align-items: center;
  font-size: 0.8em;
}

.track-name {
  color: map-get($colors, white);
  font-size: inherit;
  text-transform: uppercase;
}

.track-author {
  font-size: inherit;
  text-align: left;
}

.track-duration {
  @include margin-x(0, auto);
  font-size: inherit;
  text-align: right;
  width: fit-content;
}

.album-title {
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  color: map-get($colors, white);
  text-transform: capitalize;
}

.similar-item-title {
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  color: map-get($colors, white);
  text-transform: capitalize;
  text-align: center;
}

.sub-info {
  font-size: 1em;
}

.album-info,
.similar-info {
  margin-top: 10px;
}

.artists-wrapper {
  align-self: flex-start;
}

.track-info {
  @include margin-x(0, 16px);
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.get-access-info {
  margin-top: 30px;
}

.get-access-form {
  @include margin-y(17px, 0);
  width: 570px;
}

.access-inputs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.access-input {
  @include padding-x(0, 20px);
  box-sizing: border-box;
  color: map-get($colors, white);

  font-size: 0.875em;

  flex-basis: 273px;
  flex-shrink: 0;
  height: 50px;

  outline: none;
  border: 2px solid map-get($colors, grey);
  border-radius: 3px;
  background: none;

  &::placeholder {
    color: map-get($colors, white);
  }
}

.container-artist {
  @include margin-y(50px, 24px);
  align-items: flex-start;
}

.footer {
  @include margin-y(100px, 0);
  @include padding-y(62px, 48px);
}

.footer-h2 {
  @include margin-y(0, 17px);
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: inherit;
  color: map-get($colors, white);
}

.footer-list {
  @include margin-y(0, 0);
  list-style: none;
  padding-inline-start: 0;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  top: 18px;
  width: 100%;
  max-width: 1200px;
}

.search-form {
  @include margin-x(0, auto);
}

.search-input {
  @include padding-x(0, 10px);
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  outline: none;
  border: none;
  background-color: map-get($colors, dark-grey);
  color: inherit;
  border-radius: 50px;

  &::placeholder {
    text-transform: uppercase;
  }
}

@media (max-width: 1200px) {
  .header {
    @include padding-x(20px, 20px);
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form {
    @include margin-x(0, 0);
    width: 100%;
  }

  .search-input {
    @include margin-x(0, 0);
    @include margin-y(17px, 0);
    width: 100%;
  }

  .footer {
    @include padding-y(62px, 32px);
  }

  .nav-bar {
    @include margin-x(0, 0);
    @include margin-y(7px, 0);
    @include padding-x(0, 0);
  }

  .nav-bar-el {
    display: block;
  }

  .address {
    font-size: 1em;
  }

  .subscribe {
    @include margin-y(-1px, 18px);
    font-size: 1.125em;
  }

  .contacts {
    margin-bottom: 13px;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
  }

  .get-access-info {
    margin-top: 16px;
  }

  .get-access-form {
    width: 100%;
  }

  .access-inputs-wrapper {
    flex-direction: column;
  }

  .access-input {
    @include margin-x(0, 0);
    flex-basis: 50px;
  }

  .pricing-item-title {
    @include margin-y(12px, 203px);
    font-size: 1em;
  }

  .pricing-items-wrapper {
    flex-direction: column;
  }

  .pricing-item {
    @include margin-x(0, 0);
    margin-bottom: 50px;
  }

  .page-pricing-info {
    @include margin-y(-10px, 0);
    font-size: 1em;
  }

  .news-item {
    flex-direction: column;
    font-size: 1em;

    & .news-wrapper {
      @include margin-x(0, 0);
    }
  }

  .news-image {
    width: 374px;
    height: 186px;
  }

  .news-item-header {
    @include margin-y(50px, 16px);
    font-size: inherit;
  }

  .news-footer {
    font-size: 1em;
  }

  .news-author {
    @include margin-y(0, 48px);
    font-size: 0.8em;
  }

  .mmt-8 {
    margin-top: -8px;
  }

  .app-info-wrapper {
    flex-direction: column-reverse;
    align-items: center;

    & .app-info-body {
      @include padding-x(0, 0);
      flex-basis: auto;
    }
  }

  .app-image {
    margin: 0;
    width: 337px;
    height: 278px;
  }

  .links-table {
    @include padding-x(20px, 20px);
    display: flex;
    flex-direction: column;

    & .col-3 {
      @include margin-y(0, 30px);
    }
  }

  .links-bottom {
    @include padding-x(20px, 20px);
    display: flex;
    flex-direction: column;
  }

  .artist-button-wrapper {
    flex-direction: column;
  }

  .btn-favourites {
    @include margin-y(24px, 0);
  }

  .container-artist {
    @include margin-x(0, 0);
    @include margin-y(-20px, 24px);
  }

  .tracks-wrapper {
    margin-top: 18px;
    display: flex;
    flex-direction: column;

    & .track {
      padding-right: 0;
      margin-top: 0;
    }

    & .track:not(:last-child) {
      @include margin-y(0, 25px);
    }
  }

  .albums-wrapper,
  .artists-wrapper {
    width: 100%;
    grid-template-rows: none;
    grid-column-gap: 0;
  }

  .album {
    grid-column: span 6;
    width: 137px;
  }

  .similar-item {
    grid-column: span 6;
    width: 137px;
  }

  .album-img,
  .similar-img {
    width: 137px;
    height: 137px;
  }
}
