@for $i from 1 through 6 {
  $step: $i * 4;

  .mt-#{$step} {
    margin-top: $step * 1px;
  }

  .mr-#{$step} {
    margin-right: $step * 1px;
  }

  .mb-#{$step} {
    margin-bottom: $step * 1px;
  }

  .ml-#{$step} {
    margin-left: $step * 1px;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 12 {
  .row-#{$i} {
    grid-row: span $i;
  }
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mr-50 {
  margin-right: 50px;
}

@mixin text-color($color-name, $color-value) {
  .text-#{"" + $color-name} {
    color: $color-value;
  }
}

@mixin btn-color($color-name, $color-value) {
  .btn-#{"" + $color-name} {
    background-color: $color-value;
  }
}

@each $color-name, $color-value in $colors {
  @include text-color($color-name, $color-value);
  @include btn-color($color-name, $color-value);
}

@mixin margin-x($mr: 0, $ml: 0) {
  margin-right: $mr;
  margin-left: $ml;
}

@mixin margin-y($mt: 0, $md: 0) {
  margin-top: $mt;
  margin-bottom: $md;
}

@mixin padding-x($pr: 0, $pl: 0) {
  padding-right: $pr;
  padding-left: $pl;
}

@mixin padding-y($pt: 0, $pb: 0) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: map-get($colors, grey);
  font-family: Roboto, sans-serif;
}

h1 {
  width: 100%;
  margin: 0;
  font-size: 3.75em;
  line-height: 1.5em;
  font-weight: 700px;
}

h2 {
  width: 100%;
  margin: 0;
  font-size: 2.375em;
  line-height: 1.5em;
  font-weight: 700px;
}

h3 {
  width: 100%;
  margin: 0;
  font-size: 1.5em;
  font-weight: 700px;
}

p {
  margin: 0;
  width: 100%;
  text-align: center;
}

hr {
  @include margin-y(0, 0);
}

footer {
  @include padding-y(62px, 48px);

  // background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  text-align: left;

  & h2 {
    @include margin-y(0, 17px);
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: 700px;
    text-transform: uppercase;
    text-align: inherit;
    color: map-get($colors, white);
  }

  & a,
  p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400px;
    text-decoration: none;
    text-align: inherit;
    color: map-get($colors, grey);
  }

  & a {
    width: fit-content;
  }

  & p {
    width: 100%;
  }

  & ul {
    @include margin-y(0, 0);
    list-style: none;
    padding-inline-start: 0;
  }

  & .subscribe {
    font-size: 1.0625em;
  }

  & .address {
    font-size: 0.9375em;
  }
}

header {
  position: absolute;
  z-index: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  top: 25px;
  width: 100%;
  max-width: 1200px;

  & img {
    @include margin-x(16px, 0);
  }

  & span {
    text-transform: uppercase;
  }

  & form {
    @include margin-x(0, auto);

    & input {
      @include padding-x(0, 10px);
      box-sizing: border-box;
      width: 248px;
      height: 25px;
      outline: none;
      border: none;
      background-color: map-get($colors, dark-grey);
      color: inherit;
      border-radius: 50px;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  & .logo-wrapper {
    font-size: 0.6875em;
    align-items: center;
    display: flex;

    & p {
      text-transform: uppercase;
    }
  }

  & .nav-bar {
    @include margin-x(0, 90px);
    font-size: 0.6875em;

    li {
      @include margin-x(24px, 0);
      display: inline;

      & a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

section {
  @include padding-y(200px, 200px);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 1.875em;
    line-height: 1.5em;
    font-weight: 700px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: 700px;
    text-transform: uppercase;
  }

  footer {
    & .address {
      font-size: 1em;
      margin-bottom: 3px;
    }

    & .subscribe {
      @include margin-y(-1px, 18px);
      font-size: 1.125em;
    }

    & .contacts {
      margin-bottom: 13px;
    }

    & h2 {
      margin-bottom: 16px;
    }
  }

  header {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;

    & img {
      @include margin-x(16px, 0);
    }

    & form {
      @include margin-x(0, 0);
      width: 100%;

      & input {
        @include margin-x(0, 0);
        @include margin-y(17px, 0);

        width: 100%;
      }
    }

    & .nav-bar {
      @include margin-x(0, 0);
      @include margin-y(17px, 0);
      @include padding-x(0, 0);

      li {
        display: block;
      }

      & .artist {
        color: map-get($colors, white);
      }
    }
  }
}
