@for $i from 0 through 6 {
  $step: $i * 4;

  .mt-#{$step} {
    margin-top: $step * 1px;
  }

  .mr-#{$step} {
    margin-right: $step * 1px;
  }

  .mb-#{$step} {
    margin-bottom: $step * 1px;
  }

  .ml-#{$step} {
    margin-left: $step * 1px;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 12 {
  .row-#{$i} {
    grid-row: span $i;
  }
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-15rem {
  margin-right: 1.5rem;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-144 {
  margin-left: 144px;
}

.m-0 {
  margin: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

@mixin text-color($color-name, $color-value) {
  .text-#{"" + $color-name} {
    color: $color-value;
  }
}

@mixin btn-color($color-name, $color-value) {
  .btn-#{"" + $color-name} {
    background-color: $color-value;
  }
}

@each $color-name, $color-value in $colors {
  @include text-color($color-name, $color-value);
  @include btn-color($color-name, $color-value);
}

@mixin margin-x($mr: 0, $ml: 0) {
  margin-right: $mr;
  margin-left: $ml;
}

@mixin margin-y($mt: 0, $md: 0) {
  margin-top: $mt;
  margin-bottom: $md;
}

@mixin padding-x($pr: 0, $pl: 0) {
  padding-right: $pr;
  padding-left: $pl;
}

@mixin padding-y($pt: 0, $pb: 0) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin bg-image($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

.body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: map-get($colors, grey);
  font-family: Roboto, sans-serif;
}

.h1 {
  width: 100%;
  font-size: 3.75em;
  line-height: 1.5em;
  font-weight: 700;
}

.h2 {
  width: 100%;
  font-size: 2.375em;
  line-height: 1.5em;
  font-weight: 700;
}

.h3 {
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
}

.bg-black {
  background-color: map-get($colors, black);
}

.bg-free {
  @include bg-image("../images/subscribe_1.png");
  background-position: initial;
}

.bg-standart {
  @include bg-image("../images/subscribe_2.png");
  background-position: initial;
}

.bg-premium {
  @include bg-image("../images/subscribe_3.png");
  background-position: initial;
}

.bg-banner {
  @include bg-image("../images/banner.png");
}

.bg-artist {
  @include bg-image("../images/Morten Harket.png");
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.page-link {
  color: map-get($colors, grey);
}

.page-link:visited {
  color: map-get($colors, grey);
}

.current-page-link {
  color: map-get($colors, white);
}

.noborder {
  border: none;
}

.inverted {
  filter: invert(100%);
}

.row-gap-25 {
  grid-row-gap: 25px;
}

.column-gap-40 {
  grid-column-gap: 40px;
}

.column-gap-50 {
  grid-column-gap: 50px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.fs-09375 {
  font-size: 0.9375em;
}

@media (max-width: 1200px) {
  .mt-3-mobile {
    margin-top: 3px;
  }

  .mt-16-mobile {
    margin-top: 16px;
  }

  .mt-24-mobile {
    margin-top: 24px;
  }

  .mt-m8-mobile {
    margin-top: -8px;
  }

  .mt-m10-mobile {
    margin-top: -10px;
  }

  .mt-45-mobile {
    margin-top: 45px;
  }

  .mb-16-mobile {
    margin-bottom: 16px;
  }

  .mb-24-mobile {
    margin-bottom: 24px;
  }

  .mt-48-mobile {
    margin-bottom: 48px;
  }

  .pt-45-mobile {
    padding-top: 45px;
  }

  .h1 {
    font-size: 1.875em;
  }

  .h2 {
    font-size: 1.125em;
  }

  .fs-1-mobile {
    font-size: 1em;
  }
}
